<header class="header">
    <a href="#main" class="sr-only">Skip to main content.</a>
    {{ $logo := resources.Get "images/favicon.svg" | minify | fingerprint }}
    <img src="{{ $logo.Permalink }}" alt="NF Logo" class="header__logo" width="78" height="48"/>

    {{ $resume := resources.Get "documents/Nick_Frost_Resume.pdf" | fingerprint }}

    {{ $links := slice (dict "text" "Portfolio" "url" "/") (dict "text" "Resume" "url" $resume.Permalink ) (dict "text" "Github" "url" "https://github.com/nfrostdev") (dict "text" "Contact" "url" "mailto:nfrost.dev@gmail.com") }}

    <nav class="header__nav" aria-label="Primary">
        {{ range $links }}
            <a href="{{ .url }}"
               {{ if ne .url "/" }} target="_blank" rel="noopener" {{ end }}
               class="header__link{{ if eq .url $.RelPermalink }} header__link--active{{ end }}">
                <span>{{ .text }}</span>
            </a>
        {{ end }}
    </nav>
</header>