{{ define "main" }}
    <h1 class="sr-only">Portfolio</h1>
    {{ $pages := slice (.Site.GetPage "/kvcc-employee-portal") (.Site.GetPage "/groceries-list-app") (.Site.GetPage "/kvcc-sign-in") (.Site.GetPage "/kvcc-employee-directory") (.Site.GetPage "/kvcc-online-training") (.Site.GetPage "/kvcc-department-directory") (.Site.GetPage "/kvcc-summit") (.Site.GetPage "/kvcc-logos-branding-site") }}
    <div class="project-links">
        {{ range $page := sort $pages "Params.Order" "desc"}}
            <div class="project-link">
                <a href="{{ $page.Permalink }}" class="project-link__image__container project-link__a slide slide-right">
                    {{/* TODO: use webp */}}
                    {{ $webp := resources.Get (print "images/" (print $page.Params.Image ".webp")) | fingerprint }}
                    {{ $jpg := resources.Get (print "images/" (print $page.Params.Image ".jpg")) | fingerprint }}
                    {{ $sizes := slice "480" "768" "1024" "1280" "1440" }}
                    <picture>
                        {{ range $sizes }}
                            <source media="(max-width: {{ . }}px)"
                                    srcset='{{ ($jpg.Resize (print . "x q90")).Permalink }}'/>
                        {{ end }}
                        <img src="{{ $webp.Permalink }}"
                             class="project-link__image"
                             loading="lazy"
                             width="672" height="420"
                             onerror="this.onerror = null; this.src = '{{ $jpg.Permalink }}'"
                             alt="{{ $page.Title}} Screenshot Preview"/>
                    </picture>
                </a>

                <div class="project-link__container slide slide-left">
                    <a href="{{ $page.Permalink }}" class="project-link__sub-container project-link__a">
                        <span class="project-link__title">{{ $page.Title }}</span>
                        <span class="project-link__client">{{ $page.Params.Client }}</span>
                    </a>
                    <div class="project-link__technologies">
                        {{ range sort $page.Params.Technologies }}
                            {{ partial "partials/technology-link.html" (dict "technology" . ) }}
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end}}
    </div>
{{ end }}