{{ define "main" }}
    {{ $pages := slice (.Site.GetPage "/kvcc-employee-portal") (.Site.GetPage "/groceries-list-app") (.Site.GetPage "/kvcc-sign-in") (.Site.GetPage "/kvcc-employee-directory") (.Site.GetPage "/kvcc-online-training") (.Site.GetPage "/kvcc-department-directory") (.Site.GetPage "/kvcc-summit") }}
    <div class="project-links">
        {{ range $page := sort $pages "Params.Order" "asc"}}
            <div class="project-link">
                <a href="{{ $page.Permalink }}" aria-hidden="true" class="project-link__image__container project-link__a slide slide-right">
                    {{/* TODO: use webp */}}
                    {{ $webpBg := resources.Get (print "images/" $page.Params.Image) | minify | fingerprint }}
                    {{ $jpgBg := resources.Get (print "images/" $page.Params.Image) | minify | fingerprint }}
                    {{ $sizes := slice "272" "327" "366" "461" "576" "666" }}
                    <picture>
                        {{ range $sizes }}
                            <source media="(max-width: {{ . }}px)"
                                    srcset='{{ ($webpBg.Resize (print . "x q100")).Permalink }}'/>
                        {{ end }}
                        <img src="{{ $webpBg.Permalink }}"
                             class="project-link__image"
                             aria-hidden="true"
                             loading="lazy"
                             width="576" height="360"
                             onerror="this.onerror = null; this.src = '{{ $jpgBg.Permalink }}'"
                             alt="{{ $page.Title}} Screenshot Preview"/>
                    </picture>
                </a>

                <div class="project-link__container slide slide-left">
                    <a href="{{ $page.Permalink }}" class="project-link__sub-container project-link__a">
                        <span class="project-link__title">{{ $page.Title }}</span>
                        <span class="project-link__client">{{ $page.Params.Client }}</span>
                    </a>
                    <div class="project-link__technologies">
                        {{ range sort $page.Params.Technologies }}
                            {{ partial "partials/technology-link.html" (dict "technology" . ) }}
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end}}
    </div>
{{ end }}